body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
    background-image: url(images/vishwanth-p-AzmKn-3fzSQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 3px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #2a9d8f;
    margin-bottom: 10px;
}

#bday-age {
    background: #2a9d8f;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #2a9d8f;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
}


#gift-img-happy:hover {
    background-image: url("images/kakashi.gif");
}

#gift-img-kakashi:hover  {
    background-image: url("images/angry-kakashi.gif");
}

#gift-img-hot:hover  {
    background-image: url("images/run.gif");
}

#gift-img-genius:hover  {
    background-image: url("images/hokage.gif");
}

#gift-img-badass:hover  {
    background-image: url("images/baryon.webp");
}

#gift-img-sasuke:hover  {
    background-image: url("images/sasuke.gif");
}

#gift-img-cheers:hover  {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

#playButton {
    background: #2a9d8f;
    color: #ffffff;
    margin-top: 20px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-shadow: 0 0 4px black;
}

#audioPlayer {
    display: none;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2a9d8f;
}
